
body {
  background-color: #f5f5dc;
  padding-top: 50px;
}
/* font */

/*nav bar*/ /*need to get left margin filled by nav*/
nav ul {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  
  list-style: none;
  margin: 0; 
  padding: 0;
  background: #B9A7BB;
}

nav ul a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

nav ul a:hover {
  background: #341948;
}

@media all and (max-width: 800px) {
  nav {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  nav ul {
    flex-flow: column wrap;
    padding: 0;
  }
  nav ul a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  nav ul li:last-of-type a {
    border-bottom: none;
  }
}

/*media queries and flex boxes*/



img.headshot {
  display: block;
  width: 15%;
  height: 15%;
  border-color: 60717C;
  border: 1,1;
}


/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  
  .containerTab {
    padding: 20px;
    color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }